<div class="evil-div pdiv" style="margin-left: {{random.random1}}px">
	<h3>Dastardly delights</h3>
	<ol>
		<li>{{color}}</li>
		<li>{{food}}</li>
		<li>Oppressing the peasants</li>
		<li>Profitable wars</li>
	</ol>

	<h3>Disgusting digressions</h3>
	<ol>
		<li>Unicorns</li>
		<li>Toilet paper</li>
		<li>Old people</li>
		<li>Disney movies</li>
	</ol>
</div>

<div class="evil-div pdiv" style="margin-left: {{random.random2}}px">
	<h3>Biography</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

<div class="evil-div pdiv" style="margin-left: {{random.random3}}px">
	<h3>Resume</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>