<div class="evil-div" style="margin-left: {{random.random1}}px">
	<h3>Dastardly delights</h3>
	<ol>
		<li>{{color}}</li>
		<li>{{food}}</li>
		<li>Oppressing the peasants</li>
		<li>Profitable wars</li>
	</ol>

	<h3>Disgusting digressions</h3>
	<ol>
		<li>Unicorns</li>
		<li>Toilet paper</li>
		<li>Old people</li>
		<li>Disney movies</li>
	</ol>
<div>

<div class="evil-bio" style="margin-left: {{random.random2}}px">
	<h3>Biography</h3>
	<ol>
		<li>{{color}}</li>
		<li>{{food}}</li>
		<li>Hugs</li>
		<li>Recycling</li>
	</ol>

</div>

<div class="evil-resume" style="margin-left: {{random.random3}}px">
	<h3>Resume</h3>
	<ol>
		<li>{{color}}</li>
		<li>{{food}}</li>
		<li>Hugs</li>
		<li>Recycling</li>
	</ol>

</div>