<div class="good-list pdiv" style="margin-left: {{random.random1}}px">
	<h3>Favorite things</h3>
	<ol>
		<li>{{color}}</li>
		<li>{{food}}</li>
		<li>Hugs</li>
		<li>Recycling</li>
	</ol>

	<h3>Unacceptable things</h3>
	<ol>
		<li>Impoliteness</li>
		<li>Pollution</li>
		<li>Short dates</li>
		<li>Flat waves</li>
	</ol>
</div>

<div class="good-bio pdiv" style="margin-left: {{random.random2}}px">
	<h3>Biography</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>

<div class="good-resume pdiv" style="margin-left: {{random.random3}}px">
	<h3>Resume</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>