<div class="navbar navbar-default">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search" method="post" action="/settings">

          <div class="form-group">
          	{{#if goodAttitude}}
	            <div class="radio">
	              <label>
	                <input type="radio" name="attitude" id="good" value="good" checked>
	                Good
	              </label>
	            </div>
	            <div class="radio">
	              <label>
	                <input type="radio" name="attitude" id="evil" value="evil">
	                Evil
	              </label>
	            </div>
	        {{else}}
	            <div class="radio">
	              <label>
	                <input type="radio" name="attitude" id="good" value="good">
	                Good
	              </label>
	            </div>
	            <div class="radio">
	              <label>
	                <input type="radio" name="attitude" id="evil" value="evil" checked>
	                Evil
	              </label>
	            </div>
	        {{/if}}        
          </div>
          <div class="form-group">
            <input name="food" type="text" class="form-control" placeholder="Favorite Food" value="{{food}}">
          </div>
          <div class="form-group">
	          <select name="color" class="form-control">
	            {{#if blue}}
	              <option selected>Blue</option>
	            {{else}}
	              <option>Blue</option>
	            {{/if}}
	            {{#if red}}
	              <option selected>Red</option>
	            {{else}}
	              <option>Red</option>
	            {{/if}}
	            {{#if green}}
	              <option selected>Green</option>
	            {{else}}
	              <option>Green</option>
	            {{/if}}	      
	            {{#if yellow}}
	              <option selected>Yellow</option>
	            {{else}}
	              <option>Yellow</option>
	            {{/if}}
	            {{#if purple}}
	              <option selected>Purple</option>
	            {{else}}
	              <option>Purple</option>
	            {{/if}}
	          </select>	        
          </div>
          <div class="form-group">
            <label for="insanity">Insanity</label>
            <input name="insanity" id="insanity" type="range" min="1" max="5" step="1" />
          </div>
          
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>


<div class="container">
	<h1>Our garden of good and evil</h1>

	<h3>{{attitude}}</h3>
	<h3>{{food}}</h3>
	<h3>{{color}}</h3>
	<h3>{{insanity}}</h3>
</div>